.root {
    /* display: flex; */
    background-color: #080101;
    /* height: 100vh; */
  /* overflow-y: auto; */
  }
  
  .appBar {
    z-index: 1201; /* increase z-index to overlap with the drawer */
  }
  .body {
    background-color: #ffffff;
    height: 100vh;
  overflow-y: auto;
  }
  .menuButton {
    margin-right: 36px;
  }
  
  .drawer {
    width: 240px;
    flex-shrink: 0;
  }
  
  .drawerPaper {
    width: 240px;
  }
  .logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .content {
    flexGrow: 1;
    padding: 24px;
  }
  
  .addDashboardDialogTextField {
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .background-image {
    background-image: url("D:/SRE_DASHBOARD/sre_app/public/home9.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 450px;
    flex: 1;
    margin-left: 50px;
    margin-top: 70px;
    border-radius: 2%;
    margin-bottom: 50px;
    /* box-shadow: 5px 3px #242324; */
   
  }